<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ropii.desadigital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.ropii.desadigital.util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.ropii.desadigital.activity.Slider"
            android:theme="@style/sliderTheme"></activity>
        <activity android:name="com.ropii.desadigital.activity.EditProfil" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="com.ropii.desadigital.activity.HasilCari" />
        <activity
            android:name="com.ropii.desadigital.activity.BuatAduan"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name="com.ropii.desadigital.activity.DetailAduan" />
        <activity android:name="com.ropii.desadigital.activity.DetailBerita" />
        <activity android:name="com.ropii.desadigital.activity.LihatFoto" />
        <activity
            android:name="com.ropii.desadigital.activity.LupaSandi"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.ropii.desadigital.activity.Daftar"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.ropii.desadigital.activity.Login"
            android:theme="@style/LoginTheme" />
        <activity android:name="com.ropii.desadigital.activity.DetailKonten" />
        <activity android:name="com.ropii.desadigital.activity.Konten" />
        <activity android:name="com.ropii.desadigital.activity.SubMenu" />
        <activity
            android:name="com.ropii.desadigital.activity.Cari"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name="com.ropii.desadigital.activity.Pemberitahuan" />
        <activity android:name="com.ropii.desadigital.MainActivity" />
        <activity
            android:name="com.ropii.desadigital.activity.Splash"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>